body{
    text-align: -webkit-center;
    font-family: system-ui;
    background-image: url("https://venngage-wordpress.s3.amazonaws.com/uploads/2018/09/Minimalist-Crumpled-Paper-Simple-Background-Image.jpg");
}
header{
    font-size: 40px;
    margin-bottom: 30px;
}
#car{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}
#car input, select, button{
    width: 200px;
    height: 20px;
    background-color: #80808069;
    border: black solid 2px;
    border-radius: 5px;
}
select, button{
    margin: 10px;
    width: 208px;
}

table, th, td {
    border: 1px solid black;
    width: 600px;
}

button:hover{
    background-color:   #808080b6;

}

